@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Sen:wght@400;700;800&display=swap');

:root {
    --black: #030303;
    --darkModeBlack: #00010E;
    --white: #F9F9F9;

    --themisViolet: #7876E8;

    --violetGradient1: #0094FF;
    --violetGradient2: #8034DC;

    --shadowGray: rgba(0,0,0,0.1);

    --secondaryWhite: #E6E6E6;
    --placeholderGray: #979797;

    --red1: #FB5151;
}

@keyframes slide {
    0% {
        transform: translateX(-170%) scale(1);
    }
    50% {
        transform: translateX(75%) scale(1.1);
    }
    100% {
        transform: translateX(0%) scale(1);
    }
}

@keyframes slidei {
    0% {
        transform: translateX(200%) scale(1);
    }
    50% {
        transform: translateX(-20%) scale(1.1);
    }
    100% {
        transform: translateX(0%) scale(1);
    }
}

* {
    padding: 0;
    margin: 0;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-family: 'Sen', sans-serif;
}

body.splash {
    background: linear-gradient(108deg, var(--violetGradient1) 0%, var(--violetGradient2) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.box {
    border-radius: 15px;
    background: #ECECEC;
    padding: 50px;
}

#r1 {
    animation: slide 1s;
}

#r1i {
    animation: slidei 1s;
}

body.splash form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
select {
    border-radius: 5px;
    background: var(--secondaryWhite);
    box-shadow: 1px 1px 3px 0px var(--shadowGray) inset, 1px 2px 2px 0px var(--shadowGray);
    border: none;
    padding: 12px;
    width: 253px;
}

input::placeholder {
    color: var(--placeholderGray);
    font-weight: 700;
    font-size: 15px;
}

input:focus {
    outline: solid var(--themisViolet) 2px;
}

button {
    cursor: pointer;
}

button#full {
    font-family: 'Sen', sans-serif;
    padding: 11px;
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    width: 253px;
    box-sizing: border-box;
}

button#full.primary {
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--violetGradient1) 0%, var(--violetGradient2) 100%);
    transition: transform .2s;
}

button#full.primary:hover {
    transform: scale(1.01);
    background: linear-gradient(90deg, var(--violetGradient1) 20%, var(--violetGradient2) 100%);
}

button#full.secondary {
    border-radius: 8px;
    background: none;
    color: var(--themisViolet);
    border: solid var(--themisViolet) 3px;
    transition: transform .2s;
}

button#full.secondary:hover {
    transform: scale(1.01);
}

.splash form a {
    display: block;
    text-align: center;
    color: var(--themisViolet);
    text-decoration: none;
    font-weight: bold;
}

.splash form span {
    display: block;
    text-align: center;
}

.splash #copyright {
    position: absolute;
    bottom: 17px;
    color: rgba(255, 255, 255, 0.50);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body.fullpage {
    background-color: var(--white);
    height: 100%;
    box-sizing: border-box;
}

body.fullpage {
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 30px;
    align-items: center;
}

.infobar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
}

.logo img {
    height: 60px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px;
    height: 100%;
    width: 300px;
    justify-content: space-between;
    box-sizing: border-box;
}

.navcont {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.navitem {
    display: flex;
    align-items: center;
    gap: 23px;
    box-sizing: border-box;
    color: var(--black);
    transition: color .3s;
}

.navitem b:hover {
    color: var(--themisViolet);
}

.navitem *, .navitem {
    text-decoration: none;
    font-family: 'Sen', sans-serif;
}

.navitem b {
    font-size: 17px;
}

nav .navitem img {
    width: 25px;
}

#copy {
    font-weight: bold;
    color: var(--placeholderGray);
}

main {
    padding: 40px;
    height: 100%;
    box-sizing: border-box;
}

main .flexdivider {
    display: flex;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
}

.profile img {
    width: 40px;
    border: var(--placeholderGray) solid 2px;
    border-radius: 9px;
}

#profilewrapper {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 9999;
}

#profilebox {
    background: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    position: absolute;
    right: 0;
    padding: 29px;
    box-sizing: border-box;
}

#profilebox #profileinfo img {
    width: 90px;
    border-radius: 19px;
}

#profileinfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

#profilebox .profilelink {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profilelink img {
    width: 30px;
}

#profilebox a#logout {
    color: var(--red1);
    margin-top: auto;
}

#usnReg {
    padding: 30px;
    border: none;
    background: white;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#hello {
    font-family: "Sen", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #F9F9F9;
}

#minombre {
    font-family: "Sen", sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #F9F9F9;
}

#dataflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--placeholderGray);
}

#datapic {
    height: 340px;
    transform: translateX(-74px);
}

#wave {
    height: 200px;
    transform: translateX(22px);
}

.support {
    padding: 9px;
    border-radius: 8px 0 0 8px;
    box-shadow: var(--shadowGray) 1px 2px 2px 1px;
    display: inline-block;
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 50px;
}

.support img {
    width: 30px;
}

.notification {
    padding: 6px;
    border-radius: 5px;
    background-color: var(--themisViolet);
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    display: none;
}

.notification * {
    color: var(--white);
    font-size: 16px;
}

.notification button {
    border: none;
    background: none;
    padding-left: 7px;
    margin-left: 7px;
    border-left: solid var(--white) 1px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px !important;
    height: 28px;
    z-index: 1;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e1e1e1;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--themisViolet);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--themisViolet);
}

input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switchrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.switchrow .switch {
    align-self: center;
}

.switchrow #label {
    box-sizing: border-box;
    width: 350px;
}

#switchWrapper {
    width: 60px;
}

#project {
    text-align: left;
    padding: 20px 60px 20px 20px;
    border-radius: 13px;
    border: none;
    background: var(--white);
    box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.05), 1px 2px 10px 0px rgba(0, 0, 0, 0.03) inset;
}

.projectinfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 9px;
}

div#pp {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#pp #smol {
    font-size: 13px;
    font-weight: bold;
}

#pp #bick {
    transform:translateX(4px);
}

.btnrow {
    display: flex;
    gap: 10px;
}

button#small {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#small.primary {
    background-color: var(--themisViolet);
}

button#small.negative {
    background-color: var(--red1);
}

button#small img, button#small svg {
    width: 20px;
}
